<!-- deklaracja przestrzeni nazw Thymeleaf -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"> 
    <head>
        <title>Spittr</title>
        <!-- ³¹cze th:href do arkuasza stylów -->
        <link rel="stylesheet" type="text/css" th:href="@{/resources/style.css}"></link>
    </head>
    <body>
        <h1>Witamy w aplikacji Spittr</h1>
        <!-- ³¹cza do stron. Atrybut th:href przypomina zwyk³y atrybut HTML href.
        Umo¿liwia jednak wykorzystanie wyra¿eñ Thymeleaf umo¿liwiaj¹cych dynamiczne 
        wyliczanie wartoœci. --> 
        <a th:href="@{/spittles}">Spittle</a>
        <a th:href="@{/spitter/register}">Zarejestruj</a>
        <!-- Mo¿liwoœæ wylogowywania jest automatycznie w³aczona w konfiguracji. 
        Wystarczy tylko dodaæ poni¿sze ³¹cze przekierowuj¹ce na adres /logout (domyœlnie). 
        Po wylogowaniu przegl¹darka przekierowuje domyœlnie na adres /login?logout aby 
        umo¿liwiæ ponowne zalogowanie --> 
        <!--<form name="f" th:action="@{/logout}" method="POST">  -->
        <form name="f" th:action="@{/signout}" method="POST">
            <input name="submit" type="submit" value="Wyloguj sie"/>
        </form>
        <!-- authorize wyœwietla wartoœæ znacznika jeœli spe³niony jest podany 
        warunek bezpieczeñstwa. W tym przypadku sprawdza czy mamy zalogowanego 
        u¿ytkownika. -->
        <div sec:authorize="isAuthenticated()">
            <!-- generuje w³aœciwoœæ obiektu uwierzytelnienia - tutaj jego login --> 
            Witaj <span sec:authentication="name">ktosiu</span>
        </div>
        <!-- Wyœietla znacznik url tylko, jeœli warunki bezpieczeñstwa dla tego znacznika 
        z SecurityConfig zwróc¹ true --> 
        <span sec:authorize-url="/admin">
            <br/><a th:href="@{/admin}">Administrator</a>
        </span>
    </body>
</html>
